:root{
    --bgcm:#1e1e1e;
    --greencm:rgb(88,249,192);
    --greentranscm:rgba(88,249,192,0.3);
    --bluetranscm:rgba(91,146,229,0.5);
    --yellowtranscm:rgba(255,227,128,0.3);
    --darkgreycm:#282a2e;
    --lightgreycm:#EDFFFF;
}

body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background: var(--bgcm);
}

.btn-left {
    border: none;
    border-radius: 24px;
    background-color: var(--greencm);
}

svg {
  width: 100%;
}

.left {
  text-align: center;
}

.button-container {
  display: none;/*inline-block;*/
}

.hidepopUp{
    display:none;
    padding: 10px;
    background-color: var(--lightgreycm);
    border-radius: 5px;
    width: auto;
    height: auto;
    position:absolute;
    z-index: 999;
}

#decl-name {
  margin-bottom: 0px;
  font-size: 20px !important;
  font-decoration: bold
}

.decl-selected {
  cursor:pointer !important;
  background-color: var(--greentranscm);
}

.decl-unselected {
  cursor:pointer !important;
  background-color: var(--yellowtranscm);
}

#code-container {
  text-align: left !important;
  margin: 0;
  padding: 0;
  height: 600px;
  margin: 8px 4px 8px 8px;
  width: 100%;
}

#graph-box {
   height:600px;
   background:white;
   margin: 8px 8px 8px 4px;
   padding: 15px;
   border-radius: 24px;
}

.border {
  border: 3px solid white !important;
}

.content {
  padding: 30px;
  margin-left: 5px;
  margin-right: 5px;
  width: 100%;
}

hr {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
  background-color: black !important;
}

#zoom-container {
  display: none;
}