:root{
    --bgcm:#1e1e1e;
    --greencm:rgb(88,249,192);
    --greentranscm:rgba(88,249,192,0.3);
    --bluetranscm:rgba(91,146,229,0.5);
    --yellowtranscm:rgba(255,227,128,0.3);
    --darkgreycm:#282a2e;
    --lightgreycm:#EDFFFF;
}

body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
  background: var(--bgcm);
}

#navbar {
  background: white;
  padding-left: 70px !important;
  padding-right: 70px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-btn-left-container
{
     text-align: center;
}

.nav-btn {
  margin: 0 auto;
  max-width: 700px; 
  border-radius: 24px;
  border: none;
  
}

.nav-btn-left {
   background:var(--greencm);
   color:var(--bgcm);
}

.nav-btn-right {
  border-width: 3px;
  border-style: solid;
  border-color: var(--bgcm);
  background-color: transparent;
  color:var(--bgcm);
}

svg {
  max-width: 100%;
}

.hidepopUp{
    display:none;
    padding: 10px;
    background-color: var(--lightgreycm);
    border-radius: 5px;
    width: auto;
    height: auto;
    position:absolute;
    z-index: 999;
}


.decl-selected {
  cursor:pointer !important;
  background-color: var(--greentranscm);
}

.decl-unselected {
  cursor:pointer !important;
  background-color: var(--bluetranscm);
}

#code-container {
  margin: 0;
  padding: 0;
  height: 600px;
  margin: 8px 4px 8px 8px;
}

#graph-box {
   height:600px;
   background:white;
   margin: 8px 8px 8px 4px;
   padding: 24px;
   border-radius: 24px;
}

.border {
  border: 3px solid white !important;
}

.content {
  padding: 10px;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
